.desc-title {

}
.parent {
  height: 260px;
  overflow-y: scroll;
}
.others {
  height: 320px;
  background-color: lightskyblue;
}
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: lightsalmon;
}